/* common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px; 
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-size: 14px;
    line-height: 1.1;
    color: var(--c-grey);
    font-family:"Puvi_Regular";
    background-color: var(--c-white-15);
}

a{
    text-decoration: none;
    cursor: pointer;
}
ul li{
    list-style: none;
}
/* //common */